.thumbnail-div {
    margin-bottom: 8px;
    position: relative;
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.thumbnail {
    width: 100%;
}

.profile-picture {
    width: 36px;
    border-radius: 50%;
}

.video-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}

.channel-name, .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.channel-name {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 8px;
    row-gap: 22px;
    padding: 20px;
}


.video-title-link {
    text-decoration: none;
    color: black;
}